body {
	
	display: block;
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}

	#container {
	
		display: block;
		position: relative;
		margin: 0px;
		padding: 120px 0px 0px;
	
	}

		#header {
			
			display: block;
			position: fixed;
			background-color: #fff;
			left: 0px;
			right: 0px;
			top: 0px;
			height: 110px;
			padding: 10px 20px 0 20px;
			-moz-box-shadow:    0px 3px 5px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
			box-shadow:         0px 3px 5px rgba(0,0,0,0.3);
			z-index: 100;
			
		}

			#logo {
				
				display: block;
				position: absolute;
				left: 5px;
				top: 5px;
				height: 100px;
				width: 141px;
				background: url(./logo.png) top left no-repeat;
				
			}
			
				#logo:hover {
					
					cursor:pointer;
					
				}
			
				#logo h1 {
					
					display: none;
					visibility: hidden;
					
				}
				
			#publisher {
				
				display: block;
				position: absolute;
				right: 15px;
				top: 40px;
				height: 70px;
				width: 225px;
				
			}
			
				#publisher p {
				
					margin: 0px;
					padding: 0px;
					
				}
				
					#publisher p a {
					
						display: block;
						position: relative;
						margin: 0px;
						padding: 0px;
						height: 70px;
						width: 225px;
						background: url(./waz-logo.png) top left no-repeat;
					
					}
					
						#publisher p a span {
							
							display: none;
							visibility: hidden;
						}
				
			#menu {
				
				display: block;
				position: absolute;
				right: 500px;
				bottom: 40px;
				height: 30px;
				
			}

		#intro {
			
			display: block;
			position: relative;
			background-color: #f9f9f9;
			left: 0px;
			right: 0px;
			top: 0px;
			padding: 10px 120px;
			-moz-box-shadow:    0px 3px 5px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
			box-shadow:         0px 3px 5px rgba(0,0,0,0.3);
			
		}
		
			#intro-more {
				
				display: none;
				
			}
			
			#intro-close {
				
				display: block;
				position: absolute;
				right: 15px;
				top: 15px;
				
			}
			
		#controls {
			
			display: block;
			position: relative;
			left: 0px;
			right: 0px;
			top: 0px;
			padding: 10px 120px;
			margin: 20px 0px;
			
		}
		
			#search {
	
				display: block;
				float: right;
	
			}
			
		#main {
			
			display: block;
			position: relative;
			margin: 0px;
			padding: 0px;
			
		}
		
			#canvas-container {
				
				display: block;
				position: absolute;
				left: 0px;
				top: 0px;
				bottom: 0px;
				right: 360px;

				margin: 0px;
				
			}
			
				#canvas {
					
					position: relative;
					width: 100%;

				}
				
					#canvas .thumb {

						width: 21px;
						height: 30px;
						position: absolute;
						border: 1px solid #000;
						background-repeat: no-repeat;
						cursor: pointer;

					}
			
					#canvas .backgroundLabel {

						position: absolute;
						color: #aaa;
						font-size: 30px;
						border-bottom:1px solid #aaa;
						height: 30px;
						padding-top: 10px;
						z-index: -100;

					}
					
					#canvas .popover-title {
						
						display: none;
						
					}
			
			#sidebar {
				
				display: block;
				position: absolute;
				top: 0px;
				bottom: 0px;
				right: 120px;
				width: 260px;
				
			}
			
				#sidebar h2 {
					
					color: #333;
					font-size: 22px;
					margin: 20px 0px 5px;
					padding: 0px;
					border-bottom: 1px solid #eee;
					
				}

				#sidebar .sidebar-item-content {
					
					display: block;
					position: relative;
					margin: 0px 0px 5px;
					padding: 10px;
					background-color: #fcfcfc;
					border: 1px solid #ccc;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					overflow: hidden;
					
				}
				
					#social-twitter {
						
						height: 20px;
						
					}
				
					#social-facebook {
						
						margin-top: 5px;
						height: 20px;
						
					}
				
					#social-google {
						
						margin-top: 5px;
						height: 24px;
						
					}
				
				#sidebar .sidebar-subitem {
					
					display: block;
					position: relative;
					margin: 0px 0px 5px;
					padding: 30px 10px 10px;
					background-color: #fcfcfc;
					border: 1px solid #ccc;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					
				}

					#sidebar .sidebar-subitem h3 {
						
						color: #333;
						font-size: 16px;
						line-height: 20px;
						margin: 0px;
						padding: 0px;
						
					}
				
					#sidebar .sidebar-subitem .date {
					
						display: block;
						position: absolute;
						top: 10px;
						left: 10px;
						font-size: 11px;
						color: #666;
					
					}
					
					#sidebar .sidebar-subitem .content {
					
						margin: 5px 0px 0px;
					
					}
					
						#sidebar .sidebar-subitem .content p {
						
							margin: 0px;
							padding: 0px;
							color: #333;
						
						}
				
						#sidebar .sidebar-subitem .content a {

							color: #333;

						}

						#sidebar .sidebar-subitem .content a:hover {

							color: #666;
							text-decoration: none;

						}

				/*
				
				#sidebar p {
					
					display: block;
					position: relative;
					margin: 0px;
					padding: 0px;
					line-height: 1.4em;
					text-align: justify;
					
				}
				
				*/
			
		#footer {
			
			display: block;
			position: relative;
			margin: 0px;
			padding: 20px;
			height: 24px;
			line-height: 24px;
			background-color: #e6e6e6;
			text-align: center;
			
		}
		
			#footer #link-impressum+.popover {
				
				width: 400px;
				
			}
		
			#footer #link-impressum+.popover .popover-content {
				
				text-align: left;
				
			}

			#footer #link-impressum+.popover .popover-content h2 {

				font-size: 15px;
				line-height: 18px;
				margin: 0px;
				padding: 0px;

			}

			#footer #link-impressum+.popover .popover-content p {

				font-size: 12px;
				line-height: 1.6em;

			}


			#footer #link-impressum+.popover .popover-content p+h2 {

				margin-top: 10px;

			}

	#download-container {

		display: none;
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-color: rgba(0,0,0,0.8);
		z-index: 400;

	}
	
		#download {
			
			display: block;
			position: absolute;
			left: 120px;
			top: 120px;
			right: 120px;
			border: 1px solid #ddd;
			z-index: 250;
			padding: 20px 50px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: #fff;
			
		}
		
		#download-close {
			
			display: block;
			position: absolute;
			right: 15px;
			top: 15px;
			
		}
		
	#faq-container {

		display: none;
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-color: rgba(0,0,0,0.8);
		z-index: 400;

	}
	
		#faq {
			
			display: block;
			position: absolute;
			left: 120px;
			top: 20px;
			right: 120px;
			bottom: 20px;
			border: 1px solid #ddd;
			z-index: 250;
			padding: 20px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: #fff;
			overflow: hidden;
			
		}
		
			#faq-content {
				
				display: block;
				position: absolute;
				left: 70px;
				top: 30px;
				right: 0px;
				bottom: 30px;
				padding: 20px 100px 20px 20px;
				overflow-y: scroll;
				
			}
			
			#faq-close {

				display: block;
				position: absolute;
				right: 30px;
				top: 15px;

			}
		

	#lightbox {
		
		display: none;
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-color: rgba(0,0,0,0.9);
		color: #fff;
		z-index: 200;
		
	}
	
		#lightbox-content {
			
			display: block;
			position: absolute;
			left: 20px;
			top: 20px;
			right: 20px;
			bottom: 20px;
			border: 1px solid #000;
			z-index: 250;
			padding: 5px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: #2F2F2F;
			
		}
		
		#lightbox-header {
			
			display: block;
			position: absolute;
			left: 5px;
			top: 5px;
			right: 5px;
			height: 30px;
			
		}
		
			#lightbox-header #lightbox-headline {
				
				display: block;
				position: absolute;
				left: 5px;
				height: 35px;
				overflow: hidden;
				top: 0px;
				
			}
			
				#lightbox-header #lightbox-headline h2 {
					
					margin: 0px;
					padding: 0px;
					line-height: 35px;
					font-size: 24px;
					color: #eee;	
				}
			
				#lightbox-header #lightbox-headline h2 small{
					
					color: #aaa;	
				}

			#lightbox-header #lightbox-header-prev {

				display: block;
				position: absolute;
				right: 240px;
				top: 2px;

			}
		
			#lightbox-header #lightbox-header-next {

				display: block;
				position: absolute;
				right: 80px;
				top: 2px;

			}
		
			#lightbox-header #lightbox-close {

				display: block;
				position: absolute;
				right: 0px;
				top: 2px;

			}
		
		#lightbox-controls {
			
			display: block;
			position: absolute;
			left: 5px;
			top: 45px;
			right: 5px;
			
		}
		
			#lightbox-controls ul {
				
				margin-bottom: 0px;
				
			}
		
		#lightbox-viewport {
			
			display: block;
			position: absolute;
			left: 5px;
			top: 83px;
			right: 5px;
			bottom: 65px;
			border: 1px solid #666;
			border-top-width: 0px;
			z-index: 250;
			overflow-y: scroll;
			
		}
		
			#lightbox-viewport-doc {
				
				background-color: #fff;
				
			}

			#lightbox-viewport-improve {
			
				padding: 50px;
			
			}
			
			#lightbox-viewport-disqus {
				
				padding: 50px;
				
			}

			#lightbox-viewport-trans {
				background: #fff;
				color: #333;
				min-height: 100%;
			}

				#lightbox-viewport-trans.loading {
					
					position: absolute;
					left: 0px;
					top: 0px;
					right: 0px;
					bottom: 0px;
					background: url(spinner.gif) center center no-repeat;
					
				}
				
				#lightbox-viewport-trans p {
					
					padding: 50px;
					
				}
				
		#lightbox-improve {
			
			display: block;
			position: absolute;
			left: 10px;
			right: 30px;
			bottom: 55px;
			z-index: 300;
			
		}
		
		#lightbox-navigation {
			
			display: block;
			position: absolute;
			left: 0px;
			bottom: 0px;
			right: 0px;
			height: 40px;
			padding: 10px;
			z-index: 300;
			border-top: 1px solid #666;
			background-color: #2f2f2f;
			-webkit-border-bottom-right-radius: 4px;
			-webkit-border-bottom-left-radius: 4px;
			-moz-border-radius-bottomright: 4px;
			-moz-border-radius-bottomleft: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			
		}
		
			#lightbox-navigation-items {
				
				display: block;
				width: auto;
				position: relative;
				margin: 0px auto;
				padding: 0px;
				width: 960px;
				
			}
		
			#lightbox-navigation a {
				
				display: block;
				position: relative;
				float: left;
				width: 30px;
				height: 40px;
				margin: 0px 5px;
				top: 0px;
				border: 1px solid #999;
				transition: all 0.4s ease-in-out;
				box-shadow: 0px 0px 5px 0px;
				color: rgba(0,0,0,0.5);
				/* background-color: #fff !important; */
				
			}

				#lightbox-navigation a img {
					width: 30px;
					height: 40px;
					top: 0px;
					left: 0px;
					opacity: 0.9;
					position: absolute;
					cursor: pointer;
					box-shadow: 0px 0px 5px 0px;
					
				}
			
				#lightbox-navigation a.active {
					color:  #000000;
					top: -5px;
				}
				
				#lightbox-navigation a.active::after {
					display: block;
					position: absolute;
					left: 10px;
					bottom: 0px;
					width: 10px;
					height: 5px;
					content: "";
					background: url(marker.png) top left no-repeat;
					
				}

				#lightbox-navigation a:hover {
			
					display: block;
					position: relative;
					/*
					width: 45px;
					height: 60px;
					*/
					top: -5px;
			
				}
					
.clear {

	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;

}
