body {
	 padding: 0;
	 margin:  0;
}

#menu {
	position: fixed;
	background: #fff;
	height: 110px;
	top: 0px;
	left: -10px;
	right: -10px;
	padding: 10px 20px 0 20px;
	-moz-box-shadow:    0px 3px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	box-shadow:         0px 3px 5px rgba(0,0,0,0.3);
	z-index: 10000;
}

#canvas {
	margin-top: 120px;
	position: relative;
	min-height: 2000px;
}

#canvas .thumb {
	width: 21px;
	height: 30px;
	position: absolute;
	border: 1px solid #000;
	background-repeat:no-repeat;
	/*
	-moz-box-shadow:    3px 3px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	box-shadow:         3px 3px 5px rgba(0,0,0,0.3);
	*/
}
/*

#canvas .thumb img {
	width: 21px;
	height: 30px;
	opacity: 0.5;
}
*/
#canvas .backgroundLabel {
	position: absolute;
	color: #aaa;
	font-size: 30px;
	border-bottom:1px solid #aaa;
	height: 30px;
	width: 635px;
	padding-top: 10px;
	z-index: -100;
}
#footer {
	display: block;
	position: relative;
	margin: 0px;
	padding: 20px;
	background-color: #e6e6e6;
}