body {
	
	display: block;
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}

	#container {
	
		display: block;
		position: relative;
		margin: 0px;
		padding: 130px 0px 0px;
	
	}

		#header {
			
			display: block;
			position: fixed;
			background-color: #fff;
			left: 0px;
			right: 0px;
			top: 0px;
			height: 110px;
			padding: 10px 20px 0 20px;
			-moz-box-shadow:    0px 3px 5px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
			box-shadow:         0px 3px 5px rgba(0,0,0,0.3);
			z-index: 100;
			
		}

			#logo {
				
				display: block;
				position: absolute;
				left: 5px;
				top: 5px;
				height: 100px;
				width: 141px;
				background: url(./logo.png) top left no-repeat;
				
			}
			
				#logo h1 {
					
					display: none;
					visibility: hidden;
					
				}
				
			#publisher {
				
				display: block;
				position: absolute;
				right: 15px;
				top: 40px;
				height: 49px;
				width: 133px;
				
			}
			
				#publisher p {
				
					margin: 0px;
					padding: 0px;
					
				}
				
					#publisher p a {
					
						display: block;
						position: relative;
						margin: 0px;
						padding: 0px;
						height: 49px;
						width: 133px;
						background: url(./waz.png) top left no-repeat;
					
					}
					
						#publisher p a span {
							
							display: none;
							visibility: hidden;
						}
				
			#menu {
				
				display: block;
				position: absolute;
				right: 500px;
				bottom: 40px;
				height: 30px;
				
			}

			#search {
	
				display: block;
				position: absolute;
				right: 210px;
				bottom: 40px;
				height: 30px;
	
			}
			
		#main {
			
			display: block;
			position: relative;
			margin: 0px;
			padding: 0px;
			
		}
		
			#canvas-container {
				
				display: block;
				position: absolute;
				left: 0px;
				top: 0px;
				bottom: 0px;
				right: 360px;

				margin: 0px;
				
			}
			
				#canvas {
					
					position: relative;
					width: 100%;

				}
				
					#canvas .thumb {

						width: 21px;
						height: 30px;
						position: absolute;
						border: 1px solid #000;
						background-repeat: no-repeat;

					}

					#canvas .thumb img {

						width: 21px;
						height: 30px;
						opacity: 0.5;

					}
			
					#canvas .backgroundLabel {

						position: absolute;
						color: #aaa;
						font-size: 30px;
						border-bottom:1px solid #aaa;
						height: 30px;
						width: 635px;
						padding-top: 10px;
						z-index: -100;

					}
			
			#sidebar {
				
				display: block;
				position: absolute;
				top: 0px;
				bottom: 0px;
				right: 120px;
				width: 260px;
				
			}
			
				#sidebar h2 {
					
					color: #333;
					font-size: 22px;
					margin: 20px 0px 5px;
					padding: 0px;
					border-bottom: 1px solid #eee;
					
				}
				
				#sidebar p {
					
					display: block;
					position: relative;
					margin: 0px;
					padding: 0px;
					line-height: 1.4em;
					text-align: justify;
					
				}
			
		#footer {
			
			display: block;
			position: relative;
			margin: 0px;
			padding: 20px;
			height: 24px;
			line-height: 24px;
			background-color: #e6e6e6;
			
		}
		
	#lightbox {
		
		display: none;
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-color: rgba(0,0,0,0.7);
		z-index: 200;
		
	}
	
		#lightbox-header {
			
			display: block;
			position: absolute;
			left: 121px;
			top: 21px;
			z-index: 290;
			padding: 10px;
			background-color: rgba(255,255,255,0.7);

		}
		
			#lightbox-header h2 {
				
				display: block;
				position: relative;
				color: #f00;
				font-size: 28px;
				line-height: 1em;
				margin: 0px;
				padding: 0px;
				
			}
	
			#lightbox-header h3 {
				
				display: block;
				position: relative;
				color: #000;
				font-size: 18px;
				margin: 0px;
				padding: 0px;
				
			}
	
		#lightbox-navigation {
			
			display: block;
			position: absolute;
			left: 0px;
			bottom: 0px;
			right: 0px;
			height: 60px;
			padding: 5px;
			line-height: 60px;
			background-color: rgba(200,200,200,0.3);
			z-index: 300;
			
		}
		
			#lightbox-navigation-items {
				
				display: block;
				width: auto;
				position: relative;
				margin: 0px auto;
				padding: 0px;
				width: 960px;
				
			}
		
			#lightbox-navigation a {
				
				display: block;
				position: relative;
				float: left;
				width: 45px;
				height: 60px;
				margin: 0px 5px;
				top: 0px;
				transition: all 0.4s ease-in-out;
				
			}

				#lightbox-navigation a:hover {
			
					display: block;
					position: relative;
					width: 90px;
					height: 120px;
					top: -60px;
			
				}

				#lightbox-navigation a img {
					
					display: block;
					position: absolute;
					left: 0px;
					top: 0px;
					box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.5);
					
				}
		
		#lightbox-viewport {
			
			display: block;
			position: absolute;
			left: 120px;
			top: 20px;
			right: 120px;
			bottom: 90px;
			border: 1px solid #000;
			z-index: 250;
			overflow-y: scroll;
			
		}
					
.clear {

	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;

}